# cpu for ci tests
torch>=1.0,<=1.12.1+cpu; sys_platform == "linux"
torch>=1.0,<=1.12.1; sys_platform != "linux"
torchvision<=0.13.1+cpu; sys_platform == "linux"
torchvision<=0.13.1; sys_platform != "linux"
torch-sparse<=0.6.15+cpu; sys_platform == 'linux'
torch-sparse<=0.6.15; sys_platform != 'linux'
torch-geometric<=2.0.4+cpu; sys_platform == 'linux'
torch-geometric<=2.0.4; sys_platform != 'linux'
torch-cluster<=1.6.0+cpu; sys_platform == 'linux'
torch-cluster<=1.6.0; sys_platform != 'linux'
