# pypi requirements
accelerate>=0.12
datasets>=1.11.0
diffusers<=0.6.0
importlib-metadata>=1.7.0,<5.0.0 # temporary: https://github.com/python/importlib_metadata/issues/409
importlib-resources>=5.10.0
ipaddress>=1.0.23
joblib>=1.1.0
keras>=2.3.1,<2.11.0
keybert>=0.7.0
minio==7.0.1
modlamp>=4.0.0
molecule-generation>=0.3.0
molgx>=0.22.0a1
nglview>=3.0.3
numpy>=1.16.5,<1.24.0
protobuf<3.20
pyarrow<=6.0.1
pydantic>=1.7.3
PyTDC==0.3.7
pytorch_lightning<=1.7.7
pyyaml>=5.4.1
rdkit-pypi>=2020.9.5.2,<=2021.9.4
regex>=2.5.91
reinvent-chemistry==0.0.38
sacremoses>=0.0.41
scikit-learn>=1.0.0
scikit-optimize>=0.8.1
scipy>=1.0.0
sentencepiece>=0.1.95
sympy>=1.10.1
tables>=3.7.0
tape-proteins>=0.4
tensorboard!=2.5.0,>=2.2.0
tensorflow>=2.1.0
torchdrug>=0.2.0
torchmetrics>=0.7.0
torchvision>=0.12.0
transformers>=4.22.0
typing_extensions>=3.7.4.3
wheel>=0.26
