# pypi requirements
setuptools==69.5.1
accelerate>=0.12,<0.20.0
datasets>=1.11.0
diffusers<=0.6.0
enzeptional>=1.0.0
importlib-metadata>=1.7.0,<5.0.0 # temporary: https://github.com/python/importlib_metadata/issues/409
importlib-resources>=5.10.0
ipaddress>=1.0.23
ipykernel<=6.22.0
joblib>=1.1.0
gt4sd-molformer>=0.1.1
gt4sd-trainer-hf-pl>=0.0.2
keras>=2.3.1,<2.11.0
keybert>=0.7.0
markdown-it-py
minio==7.0.1
modlamp>=4.0.0
molgx>=0.22.0a1
nglview>=3.0.3
numpy>=1.16.5,<1.24.0
pandas<=2.0.3
protobuf<3.20
pyarrow>=8.0.0
pydantic>=2.0.0
pymatgen>=2022.11.7
PyTDC==0.3.7
pytorch_lightning<=1.7.7
pyyaml>=5.4.1
rdkit>=2022.3.5
rdkit-stubs>=0.7
regex>=2.5.91
reinvent-chemistry==0.0.38
sacremoses>=0.0.41
scikit-learn>=1.0.0,<1.3.0
scikit-optimize>=0.8.1
scipy>=1.0.0,<=1.11.0
sentencepiece>=0.1.95
sentence_transformers>1.0,<=2.2.2
sympy>=1.10.1
tables>=3.7.0
tape-proteins>=0.4
tensorboard!=2.5.0,>=2.2.0,<2.11.0
tensorboard-data-server<=0.6.1
tensorflow>=2.1.0,<2.11.0
tensorflow-io-gcs-filesystem<0.32.0
torchdrug>=0.2.0
torchmetrics>=0.7.0,<1.0.0
transformers>=4.22.0,<=4.24.0
typing_extensions>=3.7.4.3
wheel>=0.26
xgboost>=1.7.6
sphinx_rtd_theme==0.5.1
pydantic-settings>=2.0.0
