# pypi requirements
minio==7.0.1
numpy>=1.16.5
torch>=1.0
torchmetrics<0.7
typing_extensions>=3.7.4.3
pydantic>=1.7.3
tape-proteins>=0.4
scikit-learn<=0.24.2
scikit-optimize>=0.8.1
pytorch_lightning<=1.3.1
regex>=2.5.91
transformers>=4.2.1
sentencepiece>=0.1.95
datasets>=1.11.0
keybert==0.2.0
reinvent-chemistry==0.0.38
tensorboard!=2.5.0,>=2.2.0
rdkit-pypi>=2020.9.5.2
# vcs requirements
reinvent_models @ git+https://github.com/GT4SD/reinvent_models@v0.0.1
guacamol_baselines @ git+https://github.com/GT4SD/guacamol_baselines.git@v0.0.1
pytoda @ git+https://github.com/PaccMann/paccmann_datasets@0.1.1
paccmann_predictor @ git+https://github.com/PaccMann/paccmann_predictor@sarscov2
paccmann_chemistry @ git+https://github.com/PaccMann/paccmann_chemistry@0.0.4
paccmann_generator @ git+https://github.com/PaccMann/paccmann_generator@0.0.2
paccmann_omics @ git+https://github.com/PaccMann/paccmann_omics@0.0.1.1
paccmann_gp @ git+https://github.com/PaccMann/paccmann_gp@02b3463
terminator @ git+https://github.com/IBM/regression-transformer@gt4sd
