# vcs requirements
reinvent_models @ git+https://github.com/GT4SD/reinvent_models@v0.0.1
guacamol_baselines @ git+https://github.com/GT4SD/guacamol_baselines.git@v0.0.2
moses @ git+https://github.com/GT4SD/moses.git@v0.1.0
pytoda @ git+https://github.com/PaccMann/paccmann_datasets@0.1.1
paccmann_predictor @ git+https://github.com/PaccMann/paccmann_predictor@sarscov2
paccmann_chemistry @ git+https://github.com/PaccMann/paccmann_chemistry@0.0.4
paccmann_generator @ git+https://github.com/PaccMann/paccmann_generator@0.0.2
paccmann_omics @ git+https://github.com/PaccMann/paccmann_omics@0.0.1.1
paccmann_gp @ git+https://github.com/PaccMann/paccmann_gp@4f3061a
terminator @ git+https://github.com/IBM/regression-transformer@gt4sd
