name: Build and publish gt4sd on PyPI

on:
  push:
    branches:
      - master
      - ci-setup

jobs:
  build-and-publish:
    name: Build and publish gt4sd on PyPI
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 3
      matrix:
        python-version:
        - 3.8
        - 3.7
        - 3.6
        os:
        - ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Python setup ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Build dist
      run: |
        python setup.py sdist
    # - name: Publish to PyPI
    #   uses: pypa/gh-action-pypi-publish@release/v1
    #   with:
    #     user: __token__
    #     password: ${{ secrets.PYPI_TOKEN }}
    #     skip_existing: true